In [2]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [1]:
import nltk
import re
import requests
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import lxml
from io import StringIO
from collections import Counter
from sklearn.decomposition import PCA

import json
import os

import seaborn as sns
sns.set_style("darkgrid")
%pylab inline

#visualization
from IPython.display import Image
import pydotplus
from sklearn.tree import export_graphviz

# visualization
%matplotlib inline
import matplotlib.pyplot as plt

Populating the interactive namespace from numpy and matplotlib

### Read JSON for Yelp data

In [3]:
# will return a pandas df. provide location of JSON file
def convert_json(fileloc):
    yelp_list = [] # create an empty list
    with open(fileloc) as f:
        for line in f:
            yelp_list.append(json.loads(line))

        return pd.DataFrame(yelp_list)

In [41]:
tips = convert_json('data/dataset/tip.json')

In [5]:
business = convert_json('data/dataset/business.json')

In [12]:
checkin = convert_json('data/dataset/checkin.json')

In [42]:
review = convert_json('data/dataset/review.json')

In [4]:
user = convert_json('data/dataset/user.json')

In [ ]:
photos = convert_json('data/dataset/photos.json')

In [7]:
photos.head(15)

,average_stars,compliment_cool,compliment_cute,compliment_funny,compliment_hot,compliment_list,compliment_more,compliment_note,compliment_photos,compliment_plain,...,cool,elite,fans,friends,funny,name,review_count,useful,user_id,yelping_since
0,3.80,5174,284,5174,5175,78,299,1435,7829,7397,...,16856,"[2014, 2016, 2013, 2011, 2012, 2015, 2010, 2017]",209,"[M19NwFwAXKRZzt8koF11hQ, QRcMZ8pJJBBZaKubHOoMD...",16605,Cin,272,17019,lsSiIjAKVl-QRxKjRErBeg,2010-07-13
1,3.94,1556,211,1556,1285,101,134,1295,162,2134,...,40110,"[2014, 2017, 2011, 2012, 2015, 2009, 2013, 200...",835,"[eoSSJzdprj3jxXyi94vDXg, QF0urZa-0bxga17ZeY-9l...",10882,Andrea,2559,83681,om5ZiponkpRqUNa3pVPiRg,2006-01-18
2,4.72,15,1,15,5,0,1,11,8,20,...,55,[],17,"[Oa84FFGBw1axX8O6uDkmqg, SRcWERSl4rhm-Bz9zN_J8...",4,Gabe,277,45,-lGwMGHMC_XihFJNKCJNRg,2014-10-31
3,3.76,9,0,9,1,0,1,4,1,11,...,4,"[2016, 2017]",11,"[96DJovjKAtExnyBZRfniPQ, Djczq-bRn761U4FW77NUt...",4,Leah,436,15,D-ydMTPGWXTVm4_jjp0k9g,2013-04-01
4,4.23,276,0,276,59,0,8,51,169,386,...,6006,"[2017, 2016]",49,"[iN0A6QIrEFYoSGHFaknh8Q, B2HDoWNIzLlon0IhS1cmD...",360,Juan,921,9152,PcvbBOCOcs6_suRDH7TSTg,2012-08-16
5,5.00,0,0,0,0,0,0,0,0,0,...,1,[],1,"[HanGVaZP_0IwhQdc0F5paQ, _v1_G2Fs56K8JTAzzItAM...",2,Charmaine,22,1,uXjR2GhCAYhqxVr21aC4vQ,2011-10-14
6,4.40,9,0,9,8,0,2,1,1,4,...,0,"[2017, 2016]",17,"[ZWD8UH1T7QXQr0Eq-mcWYg, ObSXluQeEYiOP9l9muFlG...",0,Victoria,91,0,N2arP_u4sMGLgOZhA6ZFoQ,2013-12-20
7,4.06,4,0,4,5,0,5,4,5,5,...,1,"[2016, 2015]",5,"[Puvuej6lzJ1JOEmtjG7V_Q, fq7CL1myWPYeH0d4bKtsI...",3,Erica,68,5,YHJIMK_zVH_VY6HCY6bYvg,2012-06-08
8,3.63,4,0,4,1,0,3,1,0,2,...,2,[],3,"[b8NTnxrhHCs6IPAKrzYL9w, vaNvEgtznFwSPDNkbM7hj...",11,Whitney,184,141,g3V76Ja0XgWS1rqx0gxL_A,2007-09-11
9,4.19,1,0,1,0,0,0,2,0,1,...,2,[],5,"[lM_HnyWHrpBsrgts3VnkxA, ynYGa-R1ZJf-tJOVlQeML...",6,Paul,48,0,VTL4Dep5p7XrrOtgnXdEIQ,2010-04-25
10,4.10,1302,41,1302,806,20,46,725,106,3159,...,19108,"[2016, 2014, 2015, 2017, 2012, 2011, 2013]",435,"[xRYvFaMGWsvKcLCFtRIzWQ, zvQ7B3KZuFOX7pYLsOxhp...",4880,Risa,1122,26395,Wc5L6iuvSNF5WGBlqIO8nw,2011-07-30
11,3.91,7,0,7,1,0,1,8,2,17,...,45,"[2016, 2017, 2015]",6,"[ZRHPR_mj9A1p6guJ4myTow, DDF6lbrU8TJRS4BtsKkdA...",21,Andreas,375,41,gGdg9LOh61iUX1ui6suS0w,2013-11-25
12,3.87,34,2,34,9,0,3,12,2,21,...,150,[],33,"[ACwN_B8nl4yJ4FlqCGR9yg, WsGViKnmbVPAAG04XZKLv...",93,Nikki,100,254,UUVbV8XmTzNksBOPaiO3pA,2012-02-22
13,3.79,1139,87,1139,782,54,103,391,113,1455,...,45234,"[2012, 2008, 2009, 2010, 2007, 2006, 2013, 2011]",198,"[KOwp5RDbm7cDyrdXN8FVQQ, 7MlH7OevWSkenMyKFIRwq...",10715,Holly,698,24047,Dd-TkEszFMkSF-vRih51fQ,2006-07-03
14,3.54,17,0,17,10,0,3,12,4,12,...,2,"[2013, 2014, 2016]",8,"[ZWD8UH1T7QXQr0Eq-mcWYg, syCxRdiP-0XJenWpJ8L02...",5,Vivian,73,34,uxKSnOVAoEj4I6X9YhLBlg,2013-03-02

In [13]:
user_small = user[['user_id', 'elite', 'yelping_since']]

In [14]:
#user_small.columns = ['user_id', 'fans', 'friends', 'user_avg_stars', 'user_funny', 'user_cool', 'user_useful', 'elite', 'yelping_since']

In [15]:
user_small.head()

,user_id,elite,yelping_since
0,lsSiIjAKVl-QRxKjRErBeg,"[2014, 2016, 2013, 2011, 2012, 2015, 2010, 2017]",2010-07-13
1,om5ZiponkpRqUNa3pVPiRg,"[2014, 2017, 2011, 2012, 2015, 2009, 2013, 200...",2006-01-18
2,-lGwMGHMC_XihFJNKCJNRg,[],2014-10-31
3,D-ydMTPGWXTVm4_jjp0k9g,"[2016, 2017]",2013-04-01
4,PcvbBOCOcs6_suRDH7TSTg,"[2017, 2016]",2012-08-16

In [17]:
user_small.to_pickle('data/user_small.pkl')

In [8]:
user.columns

Index(['average_stars', 'compliment_cool', 'compliment_cute',
       'compliment_funny', 'compliment_hot', 'compliment_list',
       'compliment_more', 'compliment_note', 'compliment_photos',
       'compliment_plain', 'compliment_profile', 'compliment_writer', 'cool',
       'elite', 'fans', 'friends', 'funny', 'name', 'review_count', 'useful',
       'user_id', 'yelping_since'],
      dtype='object')

In [43]:
review.columns

Index(['business_id', 'cool', 'date', 'funny', 'review_id', 'stars', 'text',
       'useful', 'user_id'],
      dtype='object')

In [59]:
review['stars'] = review['stars'].astype('category')

In [60]:
review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4736897 entries, 0 to 4736896
Data columns (total 9 columns):
business_id    object
cool           int64
date           object
funny          int64
review_id      object
stars          category
text           object
useful         int64
user_id        object
dtypes: category(1), int64(3), object(5)
memory usage: 293.6+ MB

In [61]:
review1 = review.iloc[0:1000000, ]
review2 = review.iloc[1000000 : 2000000, ]
review3 = review.iloc[2000000 : 3000000, ]
review4 = review.iloc[3000000 : 4000000, ]
review5 = review.iloc[4000000 :, ]

In [62]:
 review1.to_pickle('data/review1.pkl')

In [63]:
review2.to_pickle('data/review2.pkl')

In [64]:
review3.to_pickle('data/review3.pkl')

In [65]:
review4.to_pickle('data/review4.pkl')

In [66]:
review5.to_pickle('data/review5.pkl')

In [ ]:
review5['MA'] = review5['pop'].rolling(window=5,center=False).mean()

In [2]:
review1 = np.load('data/review1.pkl')
review1.head()

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,uYHaNptLzDLoV_JZ_MuzUA,0,2016-07-12,0,VfBHSwC5Vz_pbFluy07i9Q,5,My girlfriend and I stayed here for 3 nights a...,0,cjpdDjZyprfyDG3RlkVG3w
1,uYHaNptLzDLoV_JZ_MuzUA,0,2016-10-02,0,3zRpneRKDsOPq92tq7ybAA,3,If you need an inexpensive place to stay for a...,0,bjTcT8Ty4cJZhEOEo01FGA
2,uYHaNptLzDLoV_JZ_MuzUA,0,2015-09-17,0,ne5WhI1jUFOcRn-b-gAzHA,3,Mittlerweile gibt es in Edinburgh zwei Ableger...,0,AXgRULmWcME7J6Ix3I--ww
3,uYHaNptLzDLoV_JZ_MuzUA,0,2016-08-21,0,llmdwOgDReucVoWEry61Lw,4,Location is everything and this hotel has it! ...,0,oU2SSOmsp_A8JYI7Z2JJ5w
4,uYHaNptLzDLoV_JZ_MuzUA,0,2013-11-20,0,DuffS87NaSMDmIfluvT83g,5,gute lage im stadtzentrum. shoppingmeile und s...,0,0xtbPEna2Kei11vsU-U2Mw

In [ ]:
pivoted_df = pd.pivot_table(review1, index='date', columns='review_id', values='useful')
#pivoted_df

In [ ]:
average_fruits = pivoted_df.rolling(window=3).mean().stack()

In [3]:
review1.groupby('review_id').useful.cumsum()

0         0
1         0
2         0
3         0
4         0
5         0
6         0
7         0
8         2
9         2
10        1
11        1
12        1
13        1
14        1
15        1
16        0
17        1
18        2
19        1
20        0
21        0
22        1
23        0
24        0
25        1
26        0
27        1
28        1
29        0
         ..
999970    0
999971    0
999972    0
999973    0
999974    5
999975    4
999976    1
999977    0
999978    0
999979    0
999980    0
999981    0
999982    3
999983    0
999984    0
999985    2
999986    0
999987    1
999988    0
999989    0
999990    1
999991    0
999992    0
999993    0
999994    0
999995    1
999996    0
999997    2
999998    4
999999    3
Name: useful, Length: 1000000, dtype: int64

### Load data

In [7]:
review.shape

(4736897, 9)

In [8]:
review_small = review.iloc[:100000, :]

In [9]:
review_small.shape

(100000, 9)

In [10]:
review_small.to_pickle('data/review_small.pkl')

#### Pickle some files

In [14]:
# tips.to_pickle('data/tips.pkl')

In [15]:
# business.to_pickle('data/business.pkl')

In [16]:
#checkin.to_pickle('data/checkin.pkl')

In [ ]:
#review_small.to_pickle('data/review_small.pkl')

In [ ]:
import pickle
import os.path

In [ ]:
file_path = "data/review.pkl"
n_bytes = 2**31
max_bytes = 2**31 - 1
data = bytearray(n_bytes)

## write
bytes_out = pickle.dumps(review)
with open(file_path, 'wb') as f_out:
    for idx in range(0, n_bytes, max_bytes):
        f_out.write(bytes_out[idx:idx+max_bytes])

## read
# bytes_in = bytearray(0)
# input_size = os.path.getsize(file_path)
# with open(file_path, 'rb') as f_in:
#     for _ in range(0, input_size, max_bytes):
#         bytes_in += f_in.read(max_bytes)
# data2 = pickle.loads(bytes_in)

# assert(data == data2)

### Start Analysis

In [4]:
review_small = np.load("data/review_small.pkl")

In [5]:
review_small.head(30)

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,uYHaNptLzDLoV_JZ_MuzUA,0,2016-07-12,0,VfBHSwC5Vz_pbFluy07i9Q,5,My girlfriend and I stayed here for 3 nights a...,0,cjpdDjZyprfyDG3RlkVG3w
1,uYHaNptLzDLoV_JZ_MuzUA,0,2016-10-02,0,3zRpneRKDsOPq92tq7ybAA,3,If you need an inexpensive place to stay for a...,0,bjTcT8Ty4cJZhEOEo01FGA
2,uYHaNptLzDLoV_JZ_MuzUA,0,2015-09-17,0,ne5WhI1jUFOcRn-b-gAzHA,3,Mittlerweile gibt es in Edinburgh zwei Ableger...,0,AXgRULmWcME7J6Ix3I--ww
3,uYHaNptLzDLoV_JZ_MuzUA,0,2016-08-21,0,llmdwOgDReucVoWEry61Lw,4,Location is everything and this hotel has it! ...,0,oU2SSOmsp_A8JYI7Z2JJ5w
4,uYHaNptLzDLoV_JZ_MuzUA,0,2013-11-20,0,DuffS87NaSMDmIfluvT83g,5,gute lage im stadtzentrum. shoppingmeile und s...,0,0xtbPEna2Kei11vsU-U2Mw
5,uYHaNptLzDLoV_JZ_MuzUA,0,2016-06-05,0,GvLmUkjUrOyFH8KFnmT1uw,5,Erstklassige Lage. Dazu ist alles geschrieben ...,0,rW8q706dz5-NnXDzMwVkiw
6,uYHaNptLzDLoV_JZ_MuzUA,0,2015-02-21,0,lGEl24NGj2HVBJrodeXcjg,4,"Beautiful space, great location, staff rock. T...",0,yx8vNXUL0D0HS8rUIC7AFA
7,uYHaNptLzDLoV_JZ_MuzUA,0,2013-07-07,0,cUgvEy5wj7zYE68v1BzzVg,4,This is a fairly new property I think. It is a...,0,zXnH6W74FAJQ7q7b-NuBsA
8,uYHaNptLzDLoV_JZ_MuzUA,2,2013-04-27,0,FSB_BnvysBgH3JYrbFNcgw,4,First time at this group of hotels. Pretty new...,2,c5yp5hxwC1N98MjbV2LyWQ
9,uYHaNptLzDLoV_JZ_MuzUA,0,2015-04-13,0,dhl3ZW9aAEX_T7_um5tfaQ,4,Location location location! \n\nMotel One is j...,2,xJisL5w4wOgiYLokGMT_IA
10,uYHaNptLzDLoV_JZ_MuzUA,1,2016-11-08,1,JQJvnM3p-3eML05eKcTgiw,4,A hotel that has all the basics that you'd nee...,1,tgV6tsYQ66DZ3LQKvtC6cw
11,uYHaNptLzDLoV_JZ_MuzUA,0,2015-07-27,0,6JF4WfHgwYrrdZ2VeYtnFw,3,"Stayed here for two nights, costs was Â£109 per...",1,Q-3YCVywc03w56wYtGlKvg
12,uYHaNptLzDLoV_JZ_MuzUA,0,2014-05-07,0,fbVYETRuWDw8QnpimpGMpg,4,"Well, i like the idea of Motel One. Always in ...",1,Cx4UCow0zQgFQOp47RRRaA
13,uYHaNptLzDLoV_JZ_MuzUA,0,2015-02-26,0,lobj38NgaokqVseN8_nn6g,4,I really do love the Germans. This chain is sp...,1,eqWEgMH-DCP74i82BEAZzw
14,uYHaNptLzDLoV_JZ_MuzUA,1,2015-08-21,0,ysfjtAWreLoy7um8WTb8xA,5,Motel One sets the standard for budget hotels....,1,d0DGZRp6lHXGECJSc_nn-A
15,uYHaNptLzDLoV_JZ_MuzUA,0,2013-12-07,0,OF1ToqGAubsWGri5iad15w,3,Had Continental style breakfast here a short d...,1,IpLZ7RevQrFPJWYc9Gxymg
16,jQsNFOzDpxPmOurSWCg1vQ,0,2017-06-03,0,ByRzJ8rF2KJWLr-cUNU6EA,1,"This place is horrible, we were so excited to ...",0,kzyLOqiJvyw_FWFTw2rjiQ
17,jQsNFOzDpxPmOurSWCg1vQ,0,2015-03-26,0,i5UwUPlQFPLcE8p2gPFwBw,4,"For being fairly ""fast"" food.. Pei Wei (pronou...",1,WZXp9-V2dqRRJqhGgRqueA
18,jQsNFOzDpxPmOurSWCg1vQ,1,2012-12-30,1,EyQyvTTg2jX4or9bB8PC9g,5,"I decided to try it out, I'm celiac and theref...",2,XylT12exfdLiI_3uDLVIpw
19,jQsNFOzDpxPmOurSWCg1vQ,1,2009-01-12,1,G-EFA005besj5uHsH0sQFA,3,I'm not saying Pei Wei is the best asian food ...,1,Ji9PeffxjwqPLO7pEfSpKQ
20,jQsNFOzDpxPmOurSWCg1vQ,0,2015-07-11,0,6PcJSGUBSLjt4VLXos5C4A,3,Sometimes the food is spot on and delicious an...,0,TLIWzAJPrET0zX4_vgvLhg
21,jQsNFOzDpxPmOurSWCg1vQ,0,2015-05-27,0,PFJmyZD_lNBa_Y3kbX1VvA,1,Decent customer service but the food was awful...,0,JZEiTNWBwmv6MOOXYCAaMQ
22,jQsNFOzDpxPmOurSWCg1vQ,1,2015-02-28,1,_Qv1FQUToLrKMuG6pV4Gzw,5,Super clean restaurant and friendly staff. FRE...,1,E56sVQT5-OWfSejJrma8_w
23,jQsNFOzDpxPmOurSWCg1vQ,0,2010-04-05,0,s2mlqrFNaPEGtcnEu3EJ4Q,4,Found this the other night. It is the PF Chan...,0,4WYICo4emecA9r7sPYQkBw
24,jQsNFOzDpxPmOurSWCg1vQ,0,2015-05-22,0,oiSzZRrbi3y01_wqU528ZQ,1,"The staff here is great and they're nice, won...",0,P8mVj7AZwJTFFH5FXbbmUg
25,jQsNFOzDpxPmOurSWCg1vQ,0,2011-06-15,0,4BPjRE9VI0HhyZzyyYv0BQ,2,I had the garlic ginger broccoli chicken and i...,1,7Y4NEBQqWg7j-TvrQi6UZQ
26,jQsNFOzDpxPmOurSWCg1vQ,0,2017-03-12,0,kznHtw1Qido_9GX6sDQPJw,5,This review is based upon consistency of flavo...,0,vgZqQqe8cj6SBMH0EqDliw
27,jQsNFOzDpxPmOurSWCg1vQ,1,2016-12-19,0,HWRTVn3Lc-RwN6udv4WJzQ,5,I love this place i'd recommend it to anyone !...,1,O7G_c6wFXSygr82qs0GAcA
28,jQsNFOzDpxPmOurSWCg1vQ,0,2011-08-10,0,GiEB_A-m9HuX521WQNbL8w,4,1st! Place is not closed. There was an issue w...,1,UG4EKu13JRwzRix6ESINdg
29,jQsNFOzDpxPmOurSWCg1vQ,0,2013-06-17,0,GKi4i6qocIgaYcwv1_0zzQ,2,Definitely not a fan. Coming from Orange Count...,0,ZZG6yR27lIy3xwUYVgHO7w

In [31]:
review_small.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
business_id    100000 non-null object
cool           100000 non-null int64
date           100000 non-null object
funny          100000 non-null int64
review_id      100000 non-null object
stars          100000 non-null int64
text           100000 non-null object
useful         100000 non-null int64
user_id        100000 non-null object
dtypes: int64(4), object(5)
memory usage: 6.9+ MB

In [32]:
review_small['stars'] = review_small['stars'].astype('category')

In [33]:
review_small.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
business_id    100000 non-null object
cool           100000 non-null int64
date           100000 non-null object
funny          100000 non-null int64
review_id      100000 non-null object
stars          100000 non-null category
text           100000 non-null object
useful         100000 non-null int64
user_id        100000 non-null object
dtypes: category(1), int64(3), object(5)
memory usage: 6.2+ MB

In [6]:
business = np.load("data/business.pkl")
business.head()

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,neighborhood,postal_code,review_count,stars,state
0,691 Richmond Rd,"{'RestaurantsPriceRange2': 2, 'BusinessParking...",YDf95gJZaq05wvo7hTQbbQ,"[Shopping, Shopping Centers]",Richmond Heights,"{'Monday': '10:00-21:00', 'Tuesday': '10:00-21...",1,41.541716,-81.493116,Richmond Town Square,,44143,17,2.0,OH
1,2824 Milton Rd,"{'GoodForMeal': {'dessert': False, 'latenight'...",mLwM-h2YhXl2NCgdS84_Bw,"[Food, Soul Food, Convenience Stores, Restaura...",Charlotte,"{'Monday': '10:00-22:00', 'Tuesday': '10:00-22...",0,35.236870,-80.741976,South Florida Style Chicken & Ribs,Eastland,28215,4,4.5,NC
2,337 Danforth Avenue,"{'BusinessParking': {'garage': False, 'street'...",v2WhjAB3PIBA8J8VxG3wEg,"[Food, Coffee & Tea]",Toronto,"{'Monday': '10:00-19:00', 'Tuesday': '10:00-19...",0,43.677126,-79.353285,The Tea Emporium,Riverdale,M4K 1N7,7,4.5,ON
3,"7702 E Doubletree Ranch Rd, Ste 300",{},CVtCbSB1zUcUWg-9TNGTuQ,"[Professional Services, Matchmakers]",Scottsdale,"{'Friday': '9:00-17:00', 'Tuesday': '9:00-17:0...",1,33.565082,-111.916400,TRUmatch,,85258,3,3.0,AZ
4,4719 N 20Th St,"{'RestaurantsTableService': False, 'GoodForMea...",duHFBe87uNSXImQmvBh87Q,"[Sandwiches, Restaurants]",Phoenix,{},0,33.505928,-112.038847,Blimpie,,85016,10,4.5,AZ

In [36]:
bus_small = business[["name", "business_id", "categories", "attributes", 'stars', 'review_count']]


bus_small['categories2'] = bus_small['categories'].apply(lambda x: ', '.join(x)).str.replace(',', '')
# bus_small['categories2'] = bus_small['categories2'].str.replace(',', '')

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [37]:
bus_small.head()

,name,business_id,categories,attributes,stars,review_count,categories2
0,Richmond Town Square,YDf95gJZaq05wvo7hTQbbQ,"[Shopping, Shopping Centers]","{'RestaurantsPriceRange2': 2, 'BusinessParking...",2.0,17,Shopping Shopping Centers
1,South Florida Style Chicken & Ribs,mLwM-h2YhXl2NCgdS84_Bw,"[Food, Soul Food, Convenience Stores, Restaura...","{'GoodForMeal': {'dessert': False, 'latenight'...",4.5,4,Food Soul Food Convenience Stores Restaurants
2,The Tea Emporium,v2WhjAB3PIBA8J8VxG3wEg,"[Food, Coffee & Tea]","{'BusinessParking': {'garage': False, 'street'...",4.5,7,Food Coffee & Tea
3,TRUmatch,CVtCbSB1zUcUWg-9TNGTuQ,"[Professional Services, Matchmakers]",{},3.0,3,Professional Services Matchmakers
4,Blimpie,duHFBe87uNSXImQmvBh87Q,"[Sandwiches, Restaurants]","{'RestaurantsTableService': False, 'GoodForMea...",4.5,10,Sandwiches Restaurants

In [29]:
# convert several Dummy Flags if category contains this description
for category in ['Sushi', 'Burger', 'Pizza', 'Coffee']:
    bus_small.loc[:, category] = bus_small.categories2.str.contains(category).astype(int)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/pandas/core/indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/pandas/core/indexing.py:337: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)

In [30]:
bus_small.head()

,name,categories,attributes,categories2,Sushi,Burger,Pizza,Coffee
0,Richmond Town Square,"[Shopping, Shopping Centers]","{'RestaurantsPriceRange2': 2, 'BusinessParking...",Shopping Shopping Centers,0,0,0,0
1,South Florida Style Chicken & Ribs,"[Food, Soul Food, Convenience Stores, Restaura...","{'GoodForMeal': {'dessert': False, 'latenight'...",Food Soul Food Convenience Stores Restaurants,0,0,0,0
2,The Tea Emporium,"[Food, Coffee & Tea]","{'BusinessParking': {'garage': False, 'street'...",Food Coffee & Tea,0,0,0,1
3,TRUmatch,"[Professional Services, Matchmakers]",{},Professional Services Matchmakers,0,0,0,0
4,Blimpie,"[Sandwiches, Restaurants]","{'RestaurantsTableService': False, 'GoodForMea...",Sandwiches Restaurants,0,0,0,0

In [35]:
bus_small.head()

,name,categories,attributes,categories2,flag
0,Richmond Town Square,"[Shopping, Shopping Centers]","{'RestaurantsPriceRange2': 2, 'BusinessParking...",Shopping Shopping Centers,0
1,South Florida Style Chicken & Ribs,"[Food, Soul Food, Convenience Stores, Restaura...","{'GoodForMeal': {'dessert': False, 'latenight'...",Food Soul Food Convenience Stores Restaurants,0
2,The Tea Emporium,"[Food, Coffee & Tea]","{'BusinessParking': {'garage': False, 'street'...",Food Coffee & Tea,0
3,TRUmatch,"[Professional Services, Matchmakers]",{},Professional Services Matchmakers,0
4,Blimpie,"[Sandwiches, Restaurants]","{'RestaurantsTableService': False, 'GoodForMea...",Sandwiches Restaurants,0

In [38]:
bus_small.flag.value_counts()

0    154806
1      1833
Name: flag, dtype: int64

In [36]:
bus_small[bus_small.flag == 1]

,name,categories,attributes,categories2,flag
53,Oishi Sushi,"[Asian Fusion, Restaurants, Sushi Bars]","{'RestaurantsTableService': True, 'GoodForMeal...",Asian Fusion Restaurants Sushi Bars,1
178,Sushi Hoshimi,"[Restaurants, Japanese, Sushi Bars]","{'RestaurantsTableService': True, 'GoodForMeal...",Restaurants Japanese Sushi Bars,1
182,Sushi Osaka,"[Sushi Bars, Restaurants, Japanese, Korean]","{'RestaurantsTakeOut': True, 'WiFi': 'free', '...",Sushi Bars Restaurants Japanese Korean,1
196,Sushi Shop,"[Restaurants, Sushi Bars]","{'HasTV': False, 'GoodForKids': True, 'NoiseLe...",Restaurants Sushi Bars,1
330,Oban Sushi,"[Sushi Bars, Restaurants]",{},Sushi Bars Restaurants,1
349,Heart Sushi,"[Restaurants, Sushi Bars, Japanese]","{'Alcohol': 'beer_and_wine', 'GoodForKids': Tr...",Restaurants Sushi Bars Japanese,1
451,Ilpunji Sushi House,"[Restaurants, Sushi Bars]","{'RestaurantsTableService': True, 'GoodForMeal...",Restaurants Sushi Bars,1
509,Shinji,"[Restaurants, Japanese, Sushi Bars]","{'RestaurantsTableService': True, 'GoodForMeal...",Restaurants Japanese Sushi Bars,1
626,Fuji Sushi & Grill,"[Sushi Bars, Restaurants]","{'RestaurantsTableService': True, 'GoodForMeal...",Sushi Bars Restaurants,1
640,Omoide Sushi & Noodle Bar,"[Noodles, Sushi Bars, Restaurants, Tapas/Small...","{'RestaurantsTableService': True, 'GoodForMeal...",Noodles Sushi Bars Restaurants Tapas/Small Pla...,1
810,Tomo Japanese Cuisine,"[Asian Fusion, Japanese, Sushi Bars, Restaurants]","{'RestaurantsTableService': True, 'GoodForMeal...",Asian Fusion Japanese Sushi Bars Restaurants,1
819,Nama Sushi,"[Restaurants, Sushi Bars, Soup, Salad]","{'RestaurantsTableService': True, 'GoodForMeal...",Restaurants Sushi Bars Soup Salad,1
831,J's Kaiyo Sushi & Bar,"[Bars, Restaurants, Asian Fusion, Nightlife, S...","{'Alcohol': 'full_bar', 'HasTV': True, 'NoiseL...",Bars Restaurants Asian Fusion Nightlife Sushi ...,1
922,Sushi Marche,"[Sushi Bars, Restaurants]","{'RestaurantsTableService': False, 'GoodForMea...",Sushi Bars Restaurants,1
1022,Sushi One,"[Restaurants, Sushi Bars]","{'RestaurantsTableService': True, 'GoodForMeal...",Restaurants Sushi Bars,1
1114,99 Cent Sushi,"[Sushi Bars, Japanese, Restaurants]","{'HasTV': False, 'RestaurantsGoodForGroups': T...",Sushi Bars Japanese Restaurants,1
1116,The Kosher Gourmet,"[Restaurants, Food, Sushi Bars, Ethnic Food, K...","{'NoiseLevel': 'average', 'RestaurantsGoodForG...",Restaurants Food Sushi Bars Ethnic Food Kosher...,1
1314,Kona Grill,"[American (New), Sushi Bars, Restaurants]","{'RestaurantsTableService': True, 'GoodForMeal...",American (New) Sushi Bars Restaurants,1
1387,Moto Sushi,"[Japanese, Restaurants, Sushi Bars]","{'Alcohol': 'full_bar', 'HasTV': True, 'NoiseL...",Japanese Restaurants Sushi Bars,1
1408,Saku Sushi,"[Japanese, Breakfast & Brunch, Restaurants, Su...","{'RestaurantsTableService': True, 'GoodForMeal...",Japanese Breakfast & Brunch Restaurants Sushi ...,1
1494,Shima,"[Japanese, Restaurants, Sushi Bars]","{'GoodForMeal': {'dessert': False, 'latenight'...",Japanese Restaurants Sushi Bars,1
1503,Sushi Matsu,"[Japanese, Sushi Bars, Chinese, Thai, Restaura...","{'Alcohol': 'full_bar', 'HasTV': True, 'WiFi':...",Japanese Sushi Bars Chinese Thai Restaurants,1
1742,Ichiban Sushi,"[Restaurants, Sushi Bars]","{'RestaurantsTableService': True, 'GoodForMeal...",Restaurants Sushi Bars,1
1745,Sushi Tanoshii,"[Japanese, Sushi Bars, Restaurants]","{'GoodForMeal': {'dessert': False, 'latenight'...",Japanese Sushi Bars Restaurants,1
1779,Asiana Fusion Sushi,"[Japanese, Restaurants, Chinese, Sushi Bars, A...","{'Alcohol': 'none', 'HasTV': False, 'NoiseLeve...",Japanese Restaurants Chinese Sushi Bars Asian ...,1
1847,Thai-SuShi101,"[Sushi Bars, Malaysian, Restaurants, Asian Fus...","{'Alcohol': 'beer_and_wine', 'HasTV': True, 'N...",Sushi Bars Malaysian Restaurants Asian Fusion ...,1
1981,Sweet PokÃ©,"[Hawaiian, Asian Fusion, Sushi Bars, Restaurants]","{'Alcohol': 'none', 'HasTV': False, 'NoiseLeve...",Hawaiian Asian Fusion Sushi Bars Restaurants,1
2048,Hibachi Grill & Supreme Buffet,"[Sushi Bars, Chinese, Buffets, Restaurants]","{'BusinessParking': {'garage': False, 'street'...",Sushi Bars Chinese Buffets Restaurants,1
2159,Hillstone Restaurant,"[Restaurants, American (New), Jazz & Blues, Ar...","{'RestaurantsTableService': True, 'GoodForMeal...",Restaurants American (New) Jazz & Blues Arts &...,1
2167,Qi Sushi,"[Restaurants, Japanese, Sushi Bars]","{'RestaurantsTableService': True, 'GoodForMeal...",Restaurants Japanese Sushi Bars,1
...,...,...,...,...,...
154009,Hokkaido Sushi,"[Restaurants, Japanese, Sushi Bars]","{'RestaurantsTableService': True, 'GoodForMeal...",Restaurants Japanese Sushi Bars,1
154042,Hibachi City Buffet,"[Restaurants, Chinese, Sushi Bars, Buffets]","{'GoodForMeal': {'dessert': False, 'latenight'...",Restaurants Chinese Sushi Bars Buffets,1
154076,Nagoya Sushi,"[Restaurants, Japanese, Sushi Bars]","{'GoodForMeal': {'dessert': False, 'latenight'...",Restaurants Japanese Sushi Bars,1
154079,Papaya Thai Cuisine & Sushi Bar,"[Restaurants, Asian Fusion, Sushi Bars, Thai]","{'RestaurantsTableService': True, 'GoodForMeal...",Restaurants Asian Fusion Sushi Bars Thai,1
154106,Harmonie Orientale,"[Sushi Bars, Restaurants, Szechuan, Chinese]","{'RestaurantsTableService': True, 'GoodForMeal...",Sushi Bars Restaurants Szechuan Chinese,1
154242,Zen Restaurant,"[Pan Asian, Chinese, Sushi Bars, Restaurants]","{'RestaurantsTableService': True, 'GoodForMeal...",Pan Asian Chinese Sushi Bars Restaurants,1
154478,Sushi Island,"[Restaurants, Sushi Bars]","{'RestaurantsTableService': True, 'GoodForMeal...",Restaurants Sushi Bars,1
154501,Metro Sushi,"[Restaurants, Sushi Bars, Japanese]","{'RestaurantsTableService': False, 'GoodForMea...",Restaurants Sushi Bars Japanese,1
154575,Sushi Hero,"[Sushi Bars, Japanese, Restaurants]","{'BusinessParking': {'garage': False, 'street'...",Sushi Bars Japanese Restaurants,1
154593,Tokyo Joe's,"[Salad, Sushi Bars, Japanese, Restaurants]","{'RestaurantsTableService': False, 'GoodForMea...",Salad Sushi Bars Japanese Restaurants,1
154595,RA Sushi Bar Restaurant,"[Japanese, Sushi Bars, Restaurants, Asian Fusion]","{'RestaurantsTableService': True, 'GoodForMeal...",Japanese Sushi Bars Restaurants Asian Fusion,1
154660,Mme Lee,"[Sushi Bars, Lounges, Cocktail Bars, Nightlife...","{'Alcohol': 'full_bar', 'HasTV': False, 'Noise...",Sushi Bars Lounges Cocktail Bars Nightlife Tap...,1
154769,Roll & Thai,"[Thai, Asian Fusion, Korean, Sushi Bars, Japan...","{'Alcohol': 'none', 'Caters': True, 'HasTV': F...",Thai Asian Fusion Korean Sushi Bars Japanese R...,1
154831,Kaizen Fusion Roll and Sushi,"[Restaurants, Japanese, Sushi Bars, Seafood]","{'RestaurantsTableService': True, 'GoodForMeal...",Restaurants Japanese Sushi Bars Seafood,1
154857,Wasabi Cafe,"[Restaurants, Japanese, Sushi Bars]","{'RestaurantsTableService': True, 'GoodForMeal...",Restaurants Japanese Sushi Bars,1
155049,Maple Sushi,"[Restaurants, Sushi Bars, Japanese, Asian Fusion]","{'RestaurantsTableService': True, 'GoodForMeal...",Restaurants Sushi Bars Japanese Asian Fusion,1
155101,Soho Sushi Burrito,"[Food, American (New), Poke, Fast Food, Sushi ...","{'Alcohol': 'none', 'HasTV': False, 'NoiseLeve...",Food American (New) Poke Fast Food Sushi Bars ...,1
155242,Sai Sushi,"[Nightlife, Beer Bar, Japanese, Sushi Bars, Wi...","{'GoodForMeal': {'dessert': True, 'latenight':...",Nightlife Beer Bar Japanese Sushi Bars Wine Ba...,1
155368,Tanked Fish Sushi,"[Japanese, Sushi Bars, Restaurants]","{'GoodForMeal': {'dessert': False, 'latenight'...",Japanese Sushi Bars Restaurants,1
155478,Tokyo Lobby Sushi and Grill,"[Japanese, Sushi Bars, Restaurants]","{'RestaurantsTableService': True, 'GoodForMeal...",Japanese Sushi Bars Restaurants,1
155706,Yoshi Sushi,"[Sushi Bars, Restaurants]","{'RestaurantsTableService': True, 'GoodForMeal...",Sushi Bars Restaurants,1
155760,Tamashi,"[Restaurants, Japanese, Asian Fusion, Sushi Bars]","{'GoodForKids': True, 'RestaurantsAttire': 'ca...",Restaurants Japanese Asian Fusion Sushi Bars,1
155825,Tokyo Sushi,"[Restaurants, Sushi Bars]","{'RestaurantsTableService': True, 'GoodForMeal...",Restaurants Sushi Bars,1
155941,Ming Fu,"[Restaurants, Sushi Bars, Chinese]","{'RestaurantsTableService': True, 'GoodForMeal...",Restaurants Sushi Bars Chinese,1
155985,Senbazuru Sushi Bar,"[Sushi Bars, Restaurants, Japanese]","{'BusinessParking': {'garage': False, 'street'...",Sushi Bars Restaurants Japanese,1
155998,Paradise Buffet & Cafe Restaurant,"[Sushi Bars, Restaurants, Buffets, Breakfast &...","{'RestaurantsTableService': True, 'GoodForMeal...",Sushi Bars Restaurants Buffets Breakfast & Brunch,1
156244,Yanagi Sushi,"[Sushi Bars, Restaurants]","{'RestaurantsTableService': False, 'GoodForMea...",Sushi Bars Restaurants,1
156405,Hiroba Sushi,"[Sushi Bars, Japanese, Restaurants]","{'RestaurantsTableService': True, 'GoodForMeal...",Sushi Bars Japanese Restaurants,1
156509,I Love Sushi,"[Restaurants, Japanese, Sushi Bars]","{'Alcohol': 'beer_and_wine', 'HasTV': True, 'N...",Restaurants Japanese Sushi Bars,1
156524,Jade Asian Fusion,"[Restaurants, Sushi Bars, Asian Fusion]","{'RestaurantsTableService': True, 'GoodForMeal...",Restaurants Sushi Bars Asian Fusion,1

In [12]:
review_small.head()

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,uYHaNptLzDLoV_JZ_MuzUA,0,2016-07-12,0,VfBHSwC5Vz_pbFluy07i9Q,5,My girlfriend and I stayed here for 3 nights a...,0,cjpdDjZyprfyDG3RlkVG3w
1,uYHaNptLzDLoV_JZ_MuzUA,0,2016-10-02,0,3zRpneRKDsOPq92tq7ybAA,3,If you need an inexpensive place to stay for a...,0,bjTcT8Ty4cJZhEOEo01FGA
2,uYHaNptLzDLoV_JZ_MuzUA,0,2015-09-17,0,ne5WhI1jUFOcRn-b-gAzHA,3,Mittlerweile gibt es in Edinburgh zwei Ableger...,0,AXgRULmWcME7J6Ix3I--ww
3,uYHaNptLzDLoV_JZ_MuzUA,0,2016-08-21,0,llmdwOgDReucVoWEry61Lw,4,Location is everything and this hotel has it! ...,0,oU2SSOmsp_A8JYI7Z2JJ5w
4,uYHaNptLzDLoV_JZ_MuzUA,0,2013-11-20,0,DuffS87NaSMDmIfluvT83g,5,gute lage im stadtzentrum. shoppingmeile und s...,0,0xtbPEna2Kei11vsU-U2Mw

In [27]:
review.head()

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,uYHaNptLzDLoV_JZ_MuzUA,0,2016-07-12,0,VfBHSwC5Vz_pbFluy07i9Q,5,My girlfriend and I stayed here for 3 nights a...,0,cjpdDjZyprfyDG3RlkVG3w
1,uYHaNptLzDLoV_JZ_MuzUA,0,2016-10-02,0,3zRpneRKDsOPq92tq7ybAA,3,If you need an inexpensive place to stay for a...,0,bjTcT8Ty4cJZhEOEo01FGA
2,uYHaNptLzDLoV_JZ_MuzUA,0,2015-09-17,0,ne5WhI1jUFOcRn-b-gAzHA,3,Mittlerweile gibt es in Edinburgh zwei Ableger...,0,AXgRULmWcME7J6Ix3I--ww
3,uYHaNptLzDLoV_JZ_MuzUA,0,2016-08-21,0,llmdwOgDReucVoWEry61Lw,4,Location is everything and this hotel has it! ...,0,oU2SSOmsp_A8JYI7Z2JJ5w
4,uYHaNptLzDLoV_JZ_MuzUA,0,2013-11-20,0,DuffS87NaSMDmIfluvT83g,5,gute lage im stadtzentrum. shoppingmeile und s...,0,0xtbPEna2Kei11vsU-U2Mw

In [21]:
checkin.head(20)

               business_id                                               time
0   7KPBkxAOEtb3QeIL9PEErg  {'Thursday': {'21:00': 4, '1:00': 1, '4:00': 1...
1   kREVIrSBbtqBhIYkTccQUg  {'Monday': {'13:00': 1}, 'Thursday': {'20:00':...
2   tJRDll5yqpZwehenzE2cSg  {'Monday': {'12:00': 1, '1:00': 1}, 'Saturday'...
3   nhZ1HGWD8lMErdn3FuWuTQ  {'Sunday': {'18:00': 1, '17:00': 2, '22:00': 1...
4   vDoXZGE7p6xAkKQ0XQPvoA  {'Thursday': {'15:00': 1}, 'Saturday': {'23:00...
5   8bY6M2yiWOF2ilfmGS34Fw  {'Saturday': {'11:00': 1}, 'Thursday': {'14:00...
6   zNVot5_XHsxwfKdiFjk_aA  {'Wednesday': {'11:00': 1, '23:00': 1}, 'Sunda...
7   BH0K6SxPnY3wTRB7tA27hQ  {'Thursday': {'22:00': 1, '23:00': 1, '19:00':...
8   dPxL6P_Gp74CqSPuL59Srg  {'Wednesday': {'14:00': 2, '16:00': 1, '2:00':...
9   aZbbt_RPKV8vUY7GWiEEyw                         {'Thursday': {'18:00': 1}}
10  Fu-egVPTQZ3lNYM0PhpQiQ  {'Thursday': {'14:00': 1}, 'Monday': {'17:00':...
11  HRIUU2Z4EsZBo59P0I2ZYA  {'Tuesday': {'23:00': 1, '0:00': 1, '1:00': 1}...
12  Y6L37i6rkqDzMesTN5UI2Q  {'Thursday': {'22:00': 2, '1:00': 2, '0:00': 1...
13  WllBAxQd6w3EZHYNOKRoMw  {'Thursday': {'15:00': 1}, 'Monday': {'20:00':...
14  GbSKygYKUy13yoZZdVxJuQ  {'Tuesday': {'18:00': 1, '12:00': 1, '15:00': ...
15  FQM4pVt1jeZcBGLIsXhXNA  {'Thursday': {'22:00': 1, '0:00': 1, '2:00': 1...
16  z3yMZ628sZP5yfWAnaA04Q  {'Saturday': {'19:00': 1}, 'Wednesday': {'21:0...
17  0WsCtzG8xazAmFA5HhQE0A  {'Friday': {'21:00': 1}, 'Monday': {'15:00': 1...
18  yEWrdUczj1_9KTUJEVfIIg  {'Sunday': {'16:00': 1}, 'Tuesday': {'0:00': 1...
19  RGeEUbXNFPqozawExgvy_g  {'Friday': {'21:00': 1, '17:00': 1}, 'Tuesday'...

In [18]:
business.head()

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,neighborhood,postal_code,review_count,stars,state
0,691 Richmond Rd,"{'RestaurantsPriceRange2': 2, 'BusinessParking...",YDf95gJZaq05wvo7hTQbbQ,"[Shopping, Shopping Centers]",Richmond Heights,"{'Monday': '10:00-21:00', 'Tuesday': '10:00-21...",1,41.541716,-81.493116,Richmond Town Square,,44143,17,2.0,OH
1,2824 Milton Rd,"{'GoodForMeal': {'dessert': False, 'latenight'...",mLwM-h2YhXl2NCgdS84_Bw,"[Food, Soul Food, Convenience Stores, Restaura...",Charlotte,"{'Monday': '10:00-22:00', 'Tuesday': '10:00-22...",0,35.236870,-80.741976,South Florida Style Chicken & Ribs,Eastland,28215,4,4.5,NC
2,337 Danforth Avenue,"{'BusinessParking': {'garage': False, 'street'...",v2WhjAB3PIBA8J8VxG3wEg,"[Food, Coffee & Tea]",Toronto,"{'Monday': '10:00-19:00', 'Tuesday': '10:00-19...",0,43.677126,-79.353285,The Tea Emporium,Riverdale,M4K 1N7,7,4.5,ON
3,"7702 E Doubletree Ranch Rd, Ste 300",{},CVtCbSB1zUcUWg-9TNGTuQ,"[Professional Services, Matchmakers]",Scottsdale,"{'Friday': '9:00-17:00', 'Tuesday': '9:00-17:0...",1,33.565082,-111.916400,TRUmatch,,85258,3,3.0,AZ
4,4719 N 20Th St,"{'RestaurantsTableService': False, 'GoodForMea...",duHFBe87uNSXImQmvBh87Q,"[Sandwiches, Restaurants]",Phoenix,{},0,33.505928,-112.038847,Blimpie,,85016,10,4.5,AZ

In [66]:
business.city.value_counts()

Las Vegas                 24768
Phoenix                   15656
Toronto                   15483
Charlotte                  7557
Scottsdale                 7510
Pittsburgh                 5688
MontrÃ©al                   5175
Mesa                       5146
Henderson                  4130
Tempe                      3949
Chandler                   3649
Edinburgh                  3625
Cleveland                  2979
Madison                    2891
Glendale                   2841
Gilbert                    2835
Mississauga                2316
Stuttgart                  1975
Peoria                     1527
Markham                    1390
North Las Vegas            1254
Champaign                  1084
North York                  944
Surprise                    934
Scarborough                 870
Richmond Hill               770
Concord                     726
Goodyear                    703
Brampton                    690
Vaughan                     650
                          ...
St-Laurent                    1
Monreoville                   1
St. Joseph                    1
Fullerton                     1
Pgh Int Arprt                 1
Vaughn                        1
Scotesdale                    1
L'ÃŽle-PerrÃ´t                  1
Regent Square                 1
oakville                      1
Bonnyrigg and Lasswade        1
St-Lazare                     1
Edinburgh City of             1
L'assomption                  1
Pincourt                      1
MontÃ©al                       1
ÃŽle des Soeurs                1
Inglewood                     1
St-BenoÃ®t de Mirabel          1
East Liberty                  1
S Concord                     1
North Queensferry             1
Median                        1
Scarbrough                    1
Catawba Springs               1
Sunrise                       1
University Ht                 1
Woodbridge (Vaughan)          1
Las Vegas, NV                 1
Mayfield Hts                  1
Name: city, Length: 1010, dtype: int64

In [67]:
business.state.value_counts()

AZ     47376
NV     30571
ON     26520
NC     11299
OH     10930
PA      8916
QC      7273
WI      4190
EDH     3561
BW      3071
IL      1667
SC       583
MLN      185
HLD      175
FIF       73
ELN       42
NYK       42
WLN       36
C         32
NY        15
NI        11
ESX       11
ST         9
CA         6
01         6
SCB        5
BY         4
WA         3
ABE        2
XGL        2
AL         2
NTH        2
TAM        1
KHL        1
STG        1
FL         1
FLN        1
SL         1
VT         1
DE         1
ZET        1
75         1
NE         1
HH         1
GLG        1
NLK        1
WHT        1
RCC        1
FAL        1
3          1
PKN        1
Name: state, dtype: int64

In [12]:
yelp_data[0:2]

[{'business_id': 'tJRDll5yqpZwehenzE2cSg',
  'date': '2012-07-15',
  'likes': 0,
  'text': 'Get here early enough to have dinner.',
  'user_id': 'zcTZk7OG8ovAmh_fenH21g'},
 {'business_id': 'jH19V2I9fIslnNhDzPmdkA',
  'date': '2015-08-12',
  'likes': 0,
  'text': 'Great breakfast large portions and friendly waitress. I highly recommend it',
  'user_id': 'ZcLKXikTHYOnYt5VYRO5sg'}]

In [2]:
import numpy as np

In [4]:
review1 = np.load(("data/review1.pkl"))

In [4]:
review1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 9 columns):
business_id    1000000 non-null object
cool           1000000 non-null int64
date           1000000 non-null object
funny          1000000 non-null int64
review_id      1000000 non-null object
stars          1000000 non-null category
text           1000000 non-null object
useful         1000000 non-null int64
user_id        1000000 non-null object
dtypes: category(1), int64(3), object(5)
memory usage: 62.0+ MB